
    <div class="container signin">
        <form  class="form-signin">
            <input type="email" class="form-control" ng-model="username"  placeholder="Email address" required>
            <input type="password" class="form-control" ng-model="password"  placeholder="Password" required>
            <label class="checkbox">
            </label>

            <input class="btn btn-lg btn-success btn-block" ng-click="goLogin(username,password)" type="submit" value="Submit" >
        </form>
    </div> <!-- /container -->
