<!DOCTYPE html>
<html ng-app ng-csp>

<head>
    <meta charset="UTF-8">
    <title>Presently</title>
    <link rel="stylesheet" href="../css/vendors/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div>
 <h3>Login</h3>
  <!-- Form to get username & Password -->
   <form>
      <label>Username:</label><input type="text" ng-model="username" /></br></br>
      <label></label>Password:</label><input type="password" ng-model="password"></br>
      <button  type="submit" ng-click="submit()">login</button>
  </form>
</div>
<script src="../js/vendors/angular.min.js"></script>
<script src="../js/vendors/angular-route.min.js"></script>
<script src="../js/app.js"></script>
</body>
</html>