<!DOCTYPE html>
<html ng-app="qischat" ng-csp>

<head>
    <meta charset="UTF-8">
    <title>Presently</title>
    <link rel="stylesheet" href="../css/vendors/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid"></div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar .pre-scrollable">

            <div class="row">
                <div class="span4 collapse-group">
                    <h2>Heading</h2>
                    <p class="collapse">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                    <p><a class="btn" href="#">View details &raquo;</a></p>
                </div>
            </div>

        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main .pre-scrollable">
            <p class="kamu bg-success col-sm-9">Proin sit? Elementum dignissim. Habitasse sit lectus pulvinar risus nascetur enim in? In tincidunt porttitor scelerisque, tristique non, tincidunt sit? Ultrices, integer lectus mattis. Lorem turpis magna integer, sagittis porta mattis dignissim vel cum magnis dolor diam enim parturient integer. Dapibus! Et cursus proin. Vel! Dictumst. Integer integer a porta tincidunt tincidunt</p>
            <p class="saya bg-info col-sm-9">yudgaskjhfbdas fjksadhgkjasg kjfhaglkajdhfg</p>
            <textarea class="form-control" ></textarea><span><button type="button" class="btn btn-success">Send</button></span>
        </div>
    </div>
</div>


<script src="../js/vendors/angular.min.js"></script>
<script src="../js/vendors/angular-route.min.js"></script>
<script src="../js/app.js"></script>
</body>
</html>