<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid"></div>
</div>

<div class="container-fluid">
    <div class="row">

        <div class="col-sm-3 col-md-2 sidebar .pre-scrollable">

                <div class="panel-group" id="accordion">

                    <div class="panel panel-default" ng-repeat="r in rooms">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse-{{r.id}}">{{r.name}}</a>
                            </h4>
                        </div>
                        <div  id="collapse-{{r.id}}" class="panel-collapse collapse">
                            <ul class="nav ">
                                <li ng-repeat="t in r.listtopics">
                                  <a ng-click="getComments(123)"> {{t.title}}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main .pre-scrollable">
             <ul ng-repeat="c in comments">          
                <li ng-if="c.username_real === 'a@phischool.com'" class="kamu bg-success col-sm-9" >
                  {{c.message}}
                </li>
                <li ng-if="c.username_real !== 'a@phischool.com'" class="saya bg-success col-sm-9" >
                 {{c.message}}
                </li>
            </ul>
            <p class="saya bg-info col-sm-9">yudgaskjhfbdas fjksadhgkjasg kjfhaglkajdhfg</p>
            <textarea class="form-control" ></textarea><span><button type="button" class="btn btn-success">Send</button></span>
        </div>
    </div>
</div>

